aside{
    font-size: 16px;
    color: #fff;
    &>div{
        height: 100%;
        overflow: auto;
        background: #384773;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    h3{
        margin: 0;
        font-size: inherit;
        background: #2d3767;
        font-weight: normal;
        &::before{
            content: "-";
            padding-right: 12px;
        }
    }
    ul{
        padding: 0;
        margin: 0;
    }
    li{
        margin: 0;
        background: #384773;
        z-index: 1;
        svg{
            width: 26px;
            height: 26px
        }
        span{
            padding-left: 27px
        }
    }
    .item{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 237px;
        height: 52px;
        padding-left: 24px;
        border-bottom: 1px solid #003564;
    }
}